<div id="card" class="rounded-lg bg-cyan-500 overflow-hidden drop-shadow-md">
  <header class="bg-white px-4 py-2">
    <h2 class="text-4xl text-cyan-600">{{ name }}</h2>
    <h3 class="text-2xl text-cyan-800">{{ title }}</h3>
  </header>
  <div class="px-4 py-2">
    <p class="text-slate-800"> 
      <span class="text-cyan-800">id </span>
      {{ id }}
    </p>
    <p class="text-slate-800">
      <span class="text-cyan-800">email </span>
      <a href="mailto:{{ email }}">{{ email }}</a>
    </p>
    <!-- This bit is only for managers -->
    <p class="text-slate-800">
      <span class="text-cyan-800">Office Number </span>
      {{ office }}
    </p>
  </div>
</div>