<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Profile Viewer</title>
    <link rel="stylesheet" href="../dist/assets/css/styles.css">
    <script src="https://kit.fontawesome.com/2691b7e52c.js" crossorigin="anonymous"></script>
  </head>
  <body class="bg-gray-200 h-screen flex flex-col justify-center">
    <h1 class="text-center text-6xl text-cyan-500">Viewing Team</h1>
    <main class="flex flex-wrap justify-center items-center">
      <div id="card" class="h-56 w-80 mx-6 my-4 flex flex-col rounded-lg bg-cyan-500 overflow-hidden drop-shadow-md">
        <header class="bg-white px-4 py-2">
          <h2 class="text-4xl text-cyan-600">Matthew Carson</h2>
          <h3 class="text-2xl text-cyan-800">Manager</h3>
        </header>
        <div class="flex flex-col justify-between h-full px-4 py-2 text-lg text-lg">
          <p class="text-slate-800"> 
            <span class="text-cyan-800">
              <i class="fa-solid fa-id-badge"></i>
            </span>
            24
          </p>
          <p class="text-slate-800">
            <span class="text-cyan-800">
              <i class="fa-regular fa-envelope"></i>
            </span>
            <a href="mailto:matthew.carson@pm.me">matthew.carson@pm.me</a>
          </p>
          <!-- This bit is only for managers -->
          <p class="text-slate-800">
            <span class="text-cyan-800">
              <i class="fa-solid fa-briefcase"></i>
            </span>
            1267
          </p>
        </div>
      </div>
<div id="card" class="h-56 w-80 mx-6 my-4 flex flex-col rounded-lg bg-pink-500 overflow-hidden drop-shadow-md">
  <header class="bg-white px-4 py-2">
    <h2 class="text-4xl text-cyan-600">Steven McSteve</h2>
    <h3 class="text-2xl text-cyan-800">Engineer</h3>
  </header>
  <div class="flex flex-col justify-between h-full px-4 py-2 text-lg">
    <p class="text-slate-800"> 
      <span class="text-cyan-800">
        <i class="fa-solid fa-id-badge"></i>
      </span>
      999
    </p>
    <p class="text-slate-800">
      <span class="text-cyan-800">
        <i class="fa-regular fa-envelope"></i>
      </span>
      <a href="mailto:steven.mcsteve@email.com">steven.mcsteve@email.com</a>
    </p>
    <!-- This bit is only for engineers -->
    <p class="text-slate-800">
      <span class="text-cyan-800">
        <i class="fa-brands fa-github"></i>
      </span>
      <a href="https://github.com/steven_mcsteve">steven_mcsteve</a>
    </p>
  </div>
</div><div id="card" class="h-56 w-80 mx-6 my-4 flex flex-col rounded-lg bg-pink-500 overflow-hidden drop-shadow-md">
  <header class="bg-white px-4 py-2">
    <h2 class="text-4xl text-cyan-600">Sarah Greene</h2>
    <h3 class="text-2xl text-cyan-800">Engineer</h3>
  </header>
  <div class="flex flex-col justify-between h-full px-4 py-2 text-lg">
    <p class="text-slate-800"> 
      <span class="text-cyan-800">
        <i class="fa-solid fa-id-badge"></i>
      </span>
      332
    </p>
    <p class="text-slate-800">
      <span class="text-cyan-800">
        <i class="fa-regular fa-envelope"></i>
      </span>
      <a href="mailto:sarah.greene@email.com">sarah.greene@email.com</a>
    </p>
    <!-- This bit is only for engineers -->
    <p class="text-slate-800">
      <span class="text-cyan-800">
        <i class="fa-brands fa-github"></i>
      </span>
      <a href="https://github.com/sarah_gee">sarah_gee</a>
    </p>
  </div>
</div>
      <div id="card" class="h-56 w-80 mx-6 my-4 flex flex-col rounded-lg bg-orange-500 overflow-hidden drop-shadow-md">
        <header class="bg-white px-4 py-2">
          <h2 class="text-4xl text-cyan-600">William Kid</h2>
          <h3 class="text-2xl text-cyan-800">Intern</h3>
        </header>
        <div class="flex flex-col justify-between h-full px-4 py-2 text-lg">
          <p class="text-slate-800"> 
            <span class="text-cyan-800">
              <i class="fa-solid fa-id-badge"></i>
            </span>
            997
          </p>
          <p class="text-slate-800">
            <span class="text-cyan-800">
              <i class="fa-regular fa-envelope"></i>
            </span>
            <a href="mailto:billy.kid@email.com">billy.kid@email.com</a>
          </p>
          <!-- This bit is only for interns -->
          <p class="text-slate-800">
            <span class="text-cyan-800">
              <i class="fa-solid fa-school"></i>
            </span>
            University of Test
          </p>
        </div>
      </div>
    </main>
  </body>
</html>